@import "styles/variables";

.random {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;

  .filter {
    background-color: $primary;
    margin-right: 3rem;
    margin-left: 3rem;
    padding: 1rem;
    border-radius: 10px;
    height: fit-content;

    button {
      height: fit-content;
    }
  }

  .cocktails {
    background-color: $primary;
    width: 70%;
    padding: 2rem;
    border-radius: 10px;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .infos {
    width: 100%;
    display: flex;

    img {
      max-width: 300px;
      margin-right: 1rem;
    }

    div {
      h4 {
        margin-bottom: 0.5rem;
        color: $tertiary;
      }

      p {
        margin-bottom: 1.5rem;

        span {
          color: $tertiary;
        }
      }
    }
  }

  .ingredients {
    h4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: $tertiary;
    }
    ul li {
      list-style: none;
      margin-bottom: 0.5rem;
    }
  }
}
