@import "styles/variables";

.footer {
  background-color: $primary;
  width: 100%;
  height: 150px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.192);
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    height: 50px;
  }

  a {
      color: $tertiary;
  }
}