@import "styles/variables";

.cateInfos {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .listeCocktails {
    width: 100%;
    margin-bottom: 5rem;

    @include largeGrille;

    .items {
      @include items;
    }
  }
}
