@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "variables";

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", arial, sans-serif;
}

p,
li {
  font-weight: 300;
}

h1 {
  font-family: "Italiana", serif;
  text-transform: uppercase;
}

button {
  border: 0;
  background-color: $tertiary;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}

img {
  border-radius: 10px;
}

a {
  text-decoration: none;
}
