@import "variables";

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.search {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    input {
        width: 400px;
        padding: 0.8rem;
        border-radius: 5px;
        border: 2px solid $dark;
        transition: width 0.5s;

        &:hover {
            width: 420px;
        }
    }

    button {
        margin-left: 1rem;
        border-radius: 5px;
    }
}

.cardItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
    margin-bottom: 5rem;
    
    .items {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            .overlay, h3 {
                opacity: 0;
                pointer-events: none;
            }
        }

        .overlay, h3 {
            position: absolute;
            opacity: 1;
            transition: opacity 0.5s;
        }

        .overlay {
            border-radius: 10px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.63);
        }

        h3 {
            color: $white;
        }

        img {
            width: 100%;
        }
    }
}
