// Responsive
@mixin smallMobile() { @media screen and (max-width:325px) { @content; } } // @include mobile { }
@mixin mobile() { @media screen and (max-width:850px) { @content; } } // @include mobile { }
@mixin desktop() { @media screen and (min-width:768px) { @content; } } // @include desktop { }
@mixin tablet() { @media screen and (max-width:1024px) { @content; } } // @include tablet { }
@mixin onlyTablet() { @media screen and (min-width: 768px) and (max-width:1024px) { @content; } } // @include tablet { }
@mixin onlyDesktop() { @media screen and (min-width:1025px) { @content; } } // @include desktop { }
@mixin largeDesktop() { @media screen and (min-width:1400px) { @content; } }

$primary: #f7f7f7;
$secondary: #cceabb;
$tertiary: #fdcb9e;
$dark: #3f3f44;
$white: #fff;
